@using DirectFlights.Client.Services
@inject FlightService service

@if (flight != null)
{
	<div class="fw-bold fs-5 ">@flight.DepartTime.ToShortTimeString() - @flight.ArriveTime.ToShortTimeString()</div>
	<div class="row">
		<div class="col my-auto">
			<div>@flight.Airline</div>
		</div>
		<div class="col-8 text-end my-auto">
			<label class="form-label">Tickets:</label>
		</div>
		<div class="col">
			<input type="number" class="form-control" @bind="NumTickets"  min=1>
		</div>
	</div>
	<hr />
	<EditForm Model=model>
		<InputRadioGroup Name="Cost" @bind-Value=SeatCost>
			@foreach (var seat in flight.Seats)
			{
				<div class="row border-bottom fs-5">
					<div class="col-1">
						<InputRadio Name="Cost" Value="@seat.Cost" style="border:none;"/>
					</div>
					<div class="col px-0">
						@seat.Name
					</div>
					<div class="col text-end fw-bold">
						$@seat.Cost
					</div>
				</div>
			}
		</InputRadioGroup>
	</EditForm>
	<div class="mt-4 text-secondary">Tax: @taxTotal</div>
	<div class="row ">
		<div class="col">
			<h3 class="my-auto">Total: @costTotal</h3>
		</div>
		<div class="col text-end">
			<button class="btn btn-success"><NavLink class="nav-link text-decoration-none text-reset py-0 px-0" href=@("purchase/" + flight.Id + "/seat/" + GetSeatId(model.Cost) + "/count/" + NumTickets)>Select and Review</NavLink></button>
		</div>
	</div>
}
else
{
	<h1>Error loading flight details. Please try again later.</h1>
}

@code {
	[Parameter] 
	public FlightDetail flight { get; set; }
	private SeatModel model { get; set; } = new();
	[Parameter] public double SeatCost { get => model.Cost; set { model.Cost = value; CalculateTotals(); StateHasChanged(); } }
	private double taxRate = 0.06;
	private int numTickets = 1;
	[Parameter] public int NumTickets { get => numTickets; set { numTickets = value; CalculateTotals(); StateHasChanged(); } }
	private string taxTotal;
	private string costTotal;

	protected async override Task OnInitializedAsync()
	{
		model.Cost = flight.Seats.ElementAt(2).Cost;
		await CalculateTotals();
	}

	private class SeatModel
	{
		public double Cost { get; set; }
	}

	private int GetSeatId(double cost)
	{
		foreach (var seat in flight.Seats)
		{
			if (seat.Cost == cost)
			{
				return seat.Id;
			}
		}
		return 0;
	}

	private async Task<string> GetTotal(double rate)
	{
		return await service.GetTotal(flight.Id, GetSeatId(model.Cost), NumTickets, rate);
	}

	public async Task CalculateTotals()
	{
		Console.WriteLine(model.Cost);
		taxTotal = await GetTotal(taxRate);
		costTotal = await GetTotal(taxRate + 1);
		StateHasChanged();
	}

	private class NumTicketModel
	{
		public int numTickets { get; set; } = 1;
	}
}
