@using DirectFlights.Client.Services
@inject FlightService service

@if (flight != null)
{
	<div class="fw-bold fs-5 ">@flight.DepartureDate.ToShortTimeString() - @flight.ArrivalDate.ToShortTimeString()</div>
	<div class="row">
		<div class="col my-auto">
			<div>@flight.Airline</div>
		</div>
		<div class="col-8 text-end my-auto">
			<label class="form-label">Tickets:</label>
		</div>
		<div class="col">
			<input type="number" class="form-control" @bind="NumTickets"  min=1 max=50>
		</div>
	</div>
	<hr />
	<EditForm Model=model>
		<InputRadioGroup Name="Cost" @bind-Value=SeatCost>
			@*@foreach (var seat in flight.Seats)
			{
				<div class="row border-bottom fs-5">
					<div class="col-1">
						<InputRadio Name="Cost" Value="50" style="border:none;"/>
					</div>
					<div class="col px-0">
						@seat.Seat
					</div>
					<div class="col text-end fw-bold">
						$@seat.Seat
					</div>
				</div>
			}*@
			@*<div class="row border-bottom fs-5">
					<div class="col-1">
						<InputRadio Name="Cost" Value="@flight.SeatCost" style="border:none;"/>
					</div>
					<div class="col px-0">
						@flight.SeatName
					</div>
					<div class="col text-end fw-bold">
						$@flight.SeatCost
					</div>
				</div>*@
		</InputRadioGroup>
	</EditForm>
	<div class="mt-4 text-secondary">Tax: @taxTotal</div>
	<div class="row ">
		<div class="col">
			<h3 class="my-auto">Total: @costTotal</h3>
		</div>
		<div class="col text-end">
			@*<NavLink class="nav-link text-decoration-none text-reset py-0 px-0" href=@("purchase/" + flight.Id + "/seat/" + GetSeatId(model.Cost) + "/count/" + NumTickets)><button class="btn btn-success">Select and Review</button></NavLink>*@
		</div>
	</div>
}
else
{
	<h1>Error loading flight details. Please try again later.</h1>
}

@code {
	[Parameter] 
	public FlightDetail flight { get; set; }
	private SeatModel model { get; set; } = new();
	[Parameter] public double SeatCost { get => model.Cost; set { model.Cost = value; CalculateTotals(); StateHasChanged(); } }
	private double taxRate = 0.06;
	private int numTickets = 1;
	[Parameter] public int NumTickets { get => numTickets; set { numTickets = value; CalculateTotals(); StateHasChanged(); } }
	private string taxTotal;
	private string costTotal;

	protected async override Task OnInitializedAsync()
	{
		//model.Cost = flight.Seats.ElementAt(2).;
		model.Cost = 50;
		await CalculateTotals();
	}

	private class SeatModel
	{
		public double Cost { get; set; }
	}

	private string GetSeatId(double cost)
	{
		return "couch";
		//foreach (var seat in flight.Seats)
		//{
		//	if (seat.Cost == cost)
		//	{
		//		return seat.Id;
		//	}
		//}
		//return 0;
	}

	private async Task<string> GetTotal(double rate)
	{
		//return await service.GetTotal(flight.FlightId, flight.SeatName, NumTickets, rate);
		throw new NotImplementedException();
	}

	public async Task CalculateTotals()
	{
		Console.WriteLine(model.Cost);
		taxTotal = await GetTotal(taxRate);
		costTotal = await GetTotal(taxRate + 1);
		StateHasChanged();
	}

	private class NumTicketModel
	{
		public int numTickets { get; set; } = 1;
	}
}
